<table class="table">
  <thead class="table-header">
    <tr>
      <th scope="col">
        <input type="checkbox" class="checkbox-element" />
        <label class="checkbox-label"></label>
      </th>
      <th scope="col">Activity Type</th>
      <th scope="col">Activity Date</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Scheduled for</th>
      <th scope="col">Duration (mins)</th>
      <th scope="col">Scheduled stats</th>
      <th scope="col">scheduled start date/time</th>
    </tr>
  </thead>
  <tbody class="table-body">
    <% tableData.forEach(function(item) { %>
    <tr class="table-row" tabindex="0" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">
      <th scope="row">
        <% input=item.checkbox %>
        <% include ./_checkbox %>
      </th>
      <td><%= item.activityType %> Phone Call</td>
      <td><%= item.activityDate %></td>
      <td><%= item.customerName %></td>
      <td><%= item.scheduledFor.last %>, <%= item.scheduledFor.first %></td>
      <td><%= item.duration %></td>
      <td><%= item.scheduledStatus %></td>
      <td><%= item.scheduledStartTime %></td>
    </tr>
    <% }) %>
    <% include ./_table-line %>
  </tbody>
</table>

<div class="col-xs-12 act-number">
  <p>25 activities</p>
</div>
